.slick-prev::before,
.slick-next::before {
  background: black !important;
  display: flex;
  text-align: center;
  justify-content: center;
  opacity: 1 !important;
  padding: 20px 29px !important;
  align-items: center;
  z-index: 100;
}
/* .slick-arrow::before {
  margin-right: 20px;
} */

.slick-prev::before{
  content: url("./icon-left.svg") !important;
  margin-left: -20px !important;
  background-size: cover;

}
.slick-next::before{
  content: url("./icon-right.svg") !important;

}
.slick-arrow::before {
  margin: 0px auto;
  font-size: 25px !important;
  z-index: 10;

  color: #ffcb05 !important;
}
/* .slick-dots {
  display: block;
  width: 100%;
  height: 10px;
  border-radius: 10px;
  overflow: hidden;

  background-color: #f5f5f5;
  background-image: linear-gradient(to right, black, black);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s ease-in-out;
} */

@media (max-width: 750px) {
  .slick-dots {
    display: none !important;
  }
  .slick-prev::before,
.slick-next::before{
  display: none !important;
}
}
